.home-search {
  /* padding: 100px; */
  padding: 30px 50px 20px 50px;
}

.edit-select {
  padding-right: 930px;
  /* width: 200px; */
}

#activity-selector {
  padding-right: 75px;
  padding-left: 300px;
}
 
#rows-style {
  padding-top: 5px;
  padding-bottom: 3px;
}

/* iphone 14 pro max downward  */
@media (max-width: 480px) and (max-height: 1000px) {
  .home-search {
    padding: 10px;
  }

  .edit-select {
    padding-right: 90px;
    /* width: 200px; */
  }

  .key-list {
    padding-left: 10px;
    padding-right: 50px;
  }

  #activity-selector {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 420px) and (max-height: 900px) {
  .home-search {
    padding: 10px;
  }

  .edit-select {
    padding-right: 55px;
    /* width: 170px; */
  }

  .key-list {
    padding-left: 10px;
    padding-right: 50px;
  }

  #activity-selector {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 380px) and (max-height: 750px) {
  .home-search {
    padding: 6px;
  }

  .edit-select {
    padding-right: 40px;
    /* width: 160px; */
  }

  .key-list {
    padding-left: 5px;
    padding-right: 40px;
  }

  #activity-selector {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* iphone 14pro max portrait*/
@media (max-width: 1000px) and (max-height: 480px) {
  .home-search {
    padding: 15px;
  }

  .edit-select {
    padding-right: 600px;
  }

  .key-list {
    /* padding-left: 10px; */
    padding-right: 20px;
  }
}

@media (max-width: 900px) and (max-height: 400px) {
  .home-search {
    padding: 15px;
  }

  .edit-select {
    padding-right: 500px;
  }

  .key-list {
    /* padding-left: 10px; */
    padding-right: 20px;
  }
}

/* samsung galazy s8+ */
@media (max-width: 800px) and (max-height: 400px) {
  .home-search {
    padding: 15px;
  }

  .edit-select {
    padding-right: 400px;
  }

  .key-list {
    /* padding-left: 10px; */
    padding-right: 20px;
  }
}



/* 
@media (max-width: 480px) and (max-height: 1000px)
@media (max-width: 420px) and (max-height: 900px)
@media (max-width: 360px) and (max-height: 750px)
media (max-width: 1000px) and (max-height: 480px)
@media (max-width: 1000px) and (max-height: 480px)
@media (max-width: 900px) and (max-height: 400px)
@media (max-width: 800px) and (max-height: 400px)
*/