/* style={{
                              background: "skyblue",
                              marginLeft: "1px",
                              borderRadius: "50%",
                              color: "skyblue",
                              lineHeight: "10px",
                              display: "inline-block",
                              position: "relative",
                              top: "-5px",
                            }} */

#notifier {
    background-color: skyblue;
    margin-left: 1px;
    border-radius: 50%;
    color: skyblue;
    line-height: 10px;
    display: inline-block;
    position: relative;
    top: -5px;
}